{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>

    <html lang="en">

        <head>

            <title>Edenthought | Delete thought</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        </head>

        
	{% include 'base.html' %}

        <br>

        <body>

            <div class="container bg-white shadow-md p-5">
      
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                
                    <p> Are you sure you want to delete your thought?</p>
                    <a href="{% url 'my-thoughts' %}">Return</a>

                    <br><br>
                
                    <button type="submit" class="btn btn-danger btn-lg w-100 btn-block p-4">&nbsp; Delete thought </button>
                
                </form>
            </div>
      
        </body>
        