{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>

    <html lang="en">

        <head>

            <title>Edenthought | Update thought</title>
            <meta charset="utf-8" />
            <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

        </head>

        
	{% include 'base.html' %}

        <br>

        <body>

            <div class="container bg-white shadow-md p-5">
      
                <form method="POST" autocomplete="off">
                    {% csrf_token %}
                
                    {{form.title|as_crispy_field}}
                    <br><br>
                
                    {{form.content|as_crispy_field}}
                    <br><br>
                
                    <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-4">&nbsp; Update thought </button>
                
                </form>
            </div>
      
        </body>



        <script src="{% static 'js/app.js' %}"></script>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"  crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"

        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"

        crossorigin="anonymous">

        </script>

    </html>