{% load crispy_forms_tags %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>

        <title>Edenthought | Register</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
        <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    </head>

    <body>
        <br>
        <div class="container bg-white shadow-md p-5">            
            
            <h3>Create your account</h3>
            <h5>Share your thoughts today!</h5>
            <br><br>
            
            <form method="POST" autocomplete="off">
                {% csrf_token %}

                {{form.username|as_crispy_field}}
                <br><br>

                {{form.email|as_crispy_field}}
                <br><br>

                {{form.password1|as_crispy_field}}
                <br><br>

                {{form.password2|as_crispy_field}}
                <br><br>
    
                <button type="submit" class="btn btn-secondary btn-lg w-100 btn-block p-4">&nbsp;  Create account</button>
            
            </form>

            <br><br>
            <div class="text-center">
                <p>Already have an account? </p><a href="{% url 'my-login' %}">Login</a>
            </div>    

        </div>
        <br>




    </body>
    
</html>